<body>
  <div class="container mt-5">
    <h1 class="heading">Register Page</h1>
    <div class="login-page">
      <div class="form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <!-- Validators Start -->
          <div
            class="validation-check"
            *ngIf="form.controls['firstName'].touched"
          >
            <span
              class="validation-check"
              *ngIf="form.controls['firstName'].errors?.['required']"
              >First Name Field is required</span
            >
          </div>
          <input
            formControlName="firstName"
            type="text"
            placeholder="first name"
          />
          <!-- Validators End -->
          <!-- Validators Start -->
          <div
            class="validation-check"
            *ngIf="form.controls['lastName'].touched"
          >
            <span
              class="validation-check"
              *ngIf="form.controls['lastName'].errors?.['required']"
              >Last Name Field is required</span
            >
          </div>
          <input
            formControlName="lastName"
            type="text"
            placeholder="last name"
          />

          <!-- Validators End -->
          <!-- Validators Start -->
          <div
            class="validation-check"
            *ngIf="form.controls['password'].touched"
          >
            <span
              class="validation-check"
              *ngIf="form.controls['password'].errors?.['required']"
              >Password Field is required</span
            >
            <span
              class="validation-check"
              *ngIf="form.controls['password'].errors?.['minlength']"
              >Password must be greater than 8 letters</span
            >
          </div>
          <input
            formControlName="password"
            type="password"
            placeholder="password"
          />

          <!-- Validators End -->

          <!-- Validators Start -->
          <div class="validation-check" *ngIf="form.controls['email'].touched">
            <span
              class="validation-check"
              *ngIf="form.controls['email'].errors?.['required']"
              >Email Field is required</span
            >
            <span
              class="validation-check"
              *ngIf="form.controls['email'].errors?.['email']"
              >Enter A Valid email</span
            >
          </div>

          <input
            formControlName="email"
            type="email"
            placeholder="email address"
          />
          <!-- Validators End -->
          <!-- Validators Start -->
          <div
            class="validation-check"
            *ngIf="form.controls['phoneNo'].touched"
          >
            <span
              class="validation-check"
              *ngIf="form.controls['phoneNo'].errors?.['required']"
              >Phone Number Field is required</span
            >
            <span
              class="validation-check"
              *ngIf="form.controls['phoneNo'].errors?.['pattern']"
              >Enter A Valid Phone</span
            >
          </div>
          <input
            formControlName="phoneNo"
            type="text"
            placeholder="Phone Number"
          />

          <!-- Validators End -->
          <div
            class="validation-check"
            *ngIf="form.controls['phoneNo'].touched"
          >
            <span
              class="validation-check"
              *ngIf="form.controls['dateOfBirth'].errors?.['required']"
              >Date Field is required</span
            >
          </div>
          <input formControlName="dateOfBirth" type="date" placeholder="Date" />

          <button type="submit">create</button>
          <p class="message">
            Already registered? <a [routerLink]="'/login'">Login</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</body>
