<nav
  *ngIf="usedData.token()"
  class="navbar navbar-expand-lg navbar-dark bg-dark"
>
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <img
      src="https://cdn-icons-png.flaticon.com/512/5539/5539745.png"
      alt=""
      width="45"
      [routerLink]="'/chatHome'"
      height="45"
      class="d-inline-block align-text-top ml-2 mr-3"
    />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="'/chatHome'"
            >Chat Hub</a
          >
        </li>
        <li class="nav-item">
          <button class="btn btn-dark"  [routerLink]="'/editUserOrDelete'" [queryParams]="{page:'editUser'}">Edit Profile</button>
        </li>
        <li class="nav-item dropdown">
          <!-- <a
            class="nav-link"
            id="navbarDropdown"
            [routerLink]="'/profile'"
          >
            Open Profile 
          </a> -->
          <button class="btn btn-dark"  [routerLink]="'/profile'">Open Profile</button>
        </li>
      </ul>
      <ul class="navbar-nav mr-3 mb-lg-0">
        <a
          class="nav-link mr-3"
          [routerLink]="'profile'"
          routerLinkActive="router-link-active"
          >{{usedData.username()}}</a
        >
        <button class="btn btn-dark" (click)="logout()">Logout</button>
      </ul>
    </div>
  </div>
</nav>
