<body>
  <div class="container mt-5">
    <h1 class="heading">Login Page</h1>
    <div class="login-page">
      <div class="form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
          <input formControlName="email" type="email" placeholder="Email" />
          <input
            formControlName="password"
            type="password"
            placeholder="password"
          />
          <button type="submit">login</button>
          <p class="message">
            <a [routerLink]="'/forgotPass'" routerLinkActive="router-link-active"
              >Forgot password?</a
            >
          </p>
          <p class="message">
            Not registered?
            <a [routerLink]="'/register'" routerLinkActive="router-link-active"
              >Create an account</a
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</body>
