<div class="chat-header clearfix">
  <div class="chat-history">
    <!-- {{ chatMessages?.data | json }} -->
    <!-- {{selectedEmail}} -->
    <ul *ngFor="let chat of chatMessages?.data">
      <li *ngIf="chat?.senderEmail !== selectedEmail" class="clearfix">
        <div class="message-data align-right">
          <span class="message-data-time">{{
            chat?.dateTime | date : "shortTime"
          }}</span>
          &nbsp; &nbsp;
          <span class="message-data-name">{{ chat?.senderEmail }}</span>
          <i class="fa fa-circle me"></i>
        </div>
        <div class="message other-message float-right">
          {{ chat?.message }}
        </div>
      </li>

      <li *ngIf="chat?.senderEmail === selectedEmail">
        <div class="message-data">
          <span class="message-data-name"
            ><i class="fa fa-circle online"></i> {{ chat?.senderEmail }}</span
          >
          <span class="message-data-time">{{
            chat?.dateTime | date : "shortTime"
          }}</span>
        </div>
        <div class="message my-message">
          {{ chat?.message }}
        </div>
      </li>

      <!-- <li>
        <div class="message-data">
          <span class="message-data-name"
            ><i class="fa fa-circle online"></i> Karandeep</span
          >
          <span class="message-data-time">10:31 AM, Today</span>
        </div>
        <i class="fa fa-circle online"></i>
        <i class="fa fa-circle online" style="color: #aed2a6"></i>
        <i class="fa fa-circle online" style="color: #dae9da"></i>
      </li> -->
    </ul>
  </div>
  <form [formGroup]="form" (ngSubmit)="sendMsg()" class="chat-message clearfix">
    <textarea
      formControlName="inputChatMsg"
      name="message-to-send"
      id="message-to-send"
      placeholder="Type your message"
      rows="3"
    ></textarea>

    <button type="submit" class="btn btn-success send-btn">➤</button>
  </form>
</div>
