<div class="chat-header clearfix">
  <div #chatHistory class="chat-history" (scroll)="loadPreviousMsgs()">
    <div class="d-flex justify-content-center mb-2">
      <button (click)="loadPreviousMsgs()" class="load-messages-btn">Load Previous Messages</button>

    </div>
    <ul *ngFor="let chat of chatMessages?.data">
      <li *ngIf="chat?.senderEmail !== selectedEmail" class="clearfix">
        <div class="message-data align-right">
          <span class="message-data-time">{{
            chat?.dateTime | date : "short"
          }}</span>
          &nbsp; &nbsp;
          <!-- {{chat | json}} -->
          <span class="message-data-name">{{ chat?.senderEmail }}</span>
          <i class="fa fa-circle me"></i>
        </div>
        <div class="message other-message float-right">
          {{ chat?.message }}
        </div>
      </li>

      <li *ngIf="chat?.senderEmail === selectedEmail">
        <div class="message-data">
          <span class="message-data-name"
            ><i class="fa fa-circle online"></i> {{ chat?.senderEmail }}</span
          >
          <span class="message-data-time">{{
            chat?.dateTime | date : "short"
          }}</span>
        </div>
        <div class="message my-message">
          {{ chat?.message }}
        </div>
      </li>
    </ul>
  </div>
  <form [formGroup]="form" (ngSubmit)="sendMsg()" class="chat-message clearfix">
    <textarea
      formControlName="inputChatMsg"
      name="message-to-send"
      id="message-to-send"
      placeholder="Type your message"
      rows="3"
    ></textarea>

    <button type="submit" class="btn btn-success send-btn">➤</button>
  </form>
</div>
