<body>
  <!-- If not token then show form -->
  <div *ngIf="!token" class="container mt-5">
    <h1 class="heading">Forgot Password</h1>
    <div class="login-page">
      <div class="form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
          <input formControlName="email" type="email" placeholder="Email" />
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>

  <!-- If token then show formPass -->
  <div *ngIf="token" class="container mt-5">
    <h1 class="heading">Enter New Password</h1>
    <div class="login-page">
      <div class="form">
        <form
          [formGroup]="formPass"
          (ngSubmit)="onSubmitPass()"
          class="login-form"
        >
          <input
            formControlName="password"
            type="password"
            placeholder="Password"
          />
          <input
            formControlName="passwordMatch"
            type="password"
            placeholder="Password Match"
          />
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</body>

<span> {{ "karandeep.singh@chicmic.co.in" }}</span
><br />
<span>{{ "Noahrem@12" }}</span>
