{{ data | json }}
<div class="mt-4 mb-4 p-3 d-flex justify-content-center">
  <div class="card p-4">
    <div
      class="image d-flex flex-column justify-content-center align-items-center"
    >
      <button class="btn">
        <img
          [src]="imageUrl"
          height="100"
          width="100"
          alt="avatar"
        />
      </button>
      <div
        class="d-flex flex-row justify-content-center align-items-center gap-2"
      >
        <span class="idd1">{{ data[0].phoneNo }}</span>
        <span><i class="fa fa-copy"></i></span>
      </div>
      <div class="text mt-3">
        <span>{{data[0].firstName}} </span>
        <span>{{data[0].lastName}}</span>
      </div>
      <div
        class="d-flex flex-row justify-content-center align-items-center mt-3"
      >
        <span class="follow">{{ data[0].email }}</span>
      </div>
      <div class="d-flex mt-2">
        <button class="btn1 btn-dark">Edit Profile</button>
      </div>
      <div
        class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"
      ></div>
      <div class="px-2 rounded mt-4 date">
        <span class="join">Created on {{data[0].created | date}}</span>
      </div>
    </div>
  </div>
</div>
