/* You can add global styles to this file, and also import other style files */
/* body {

    background-image: url("https://static.vecteezy.com/system/resources/previews/012/572/114/large_2x/abstract-blur-background-with-brown-gray-black-white-and-earth-tones-free-photo.jpg");
    background-size: 100% auto;
    background-position: center top;
} */

